/* A body tag selector that adds the background image to each page */
body {
  background-image: url(./images/green.jpg);
}

nav, footer {
  opacity: 85%;
}

#name {
  font-size: 25px;
}

/* A class selector that changes the font to serif */
.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

/* An id selector that changes the color of the header in the card */
#Header {
  color: #3c6e4b !important;
}

.color {
  background-color: #3c6e4b !important;
  border-color: #315b44 !important;
}

/* An id that allows the text to wrap around the image on the About Me Page */
#aboutMeImg {
  float: left !important;
  margin-right: 20px !important;
  margin-bottom: 5px !important;
  max-width: 50% !important;
}

/* A tag selector that adds space between the main element and the footer */
main {
  margin-bottom: 100px !important;
}

h5{
  text-decoration: underline;
}
